/* 전체 페이지 스타일 */
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d5f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

/* 카드 컨테이너 스타일 */
.card-container {
  position: relative;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 50vw;
  max-width: 1080px;
  height: auto;
}

/* 카드 스타일 */
.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  font-size: 16px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 카드 텍스트 */
.card h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 8px 0 0;
}

/* 비디오를 최상단에 위치시키기 위한 z-index 설정 */
video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* 비디오를 최상단에 배치 */
  width: 100vw; /* 페이지에 맞게 비디오 크기 조정 */
  height: 100vh;
}

/* WebGL 캔버스는 비디오 아래에 위치 */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* 캔버스는 비디오 아래 */
  width: 50vw;
  /* height: 100vh; */
  background-color: transparent;
}
